
div{
	border: hidden;

}
li{
	padding-top:10px;
}
body{ 
	background-color: #E0E4CC;
}
#title{
	text-align: center;
}
.subtitle{
	text-align: center;
}
.menu{
	width:20%;
	width:15%;
	position: fixed;
	top:120px;
}
.essQ{
	position: absolute;
	padding-left: 10px;
	left:25%;
	left:15%;
	top:120px;
	width:50%;
	width:57%;
	height:150px;
	background-color: #E0E4CC;
}
.extMedia{
	position: absolute;
	padding-left: 10px;
	left:73%;
	top:120px;
	width:25%;
	height:600px;
	
}
.bhl{
	position: absolute;
	padding-left: 10px;
	left:15%;
	top:290px;
	width:57%;

	height:400px;
	background-color: #E0E4CC;
}
